// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:'Protest Strike', sans-serif;
$body-font:'Play', sans-serif;
$extra-color:#e8eefb;
$primary-color:#009dff;
$secondary-color:#f7f7f7;
