<section class="section service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mb-2">Who We Are.</h2>
        <p class="mb-5">
          We are a team of passionate designers, engineers, and architects with years of experience delivering high-quality design solutions for a wide range of industries.
          From conceptual development to detailed execution, our mission is to enhance spaces and products by focusing on precision, sustainability, and innovative design techniques.
        </p>
      </div>
    </div>
  </div>
</section>
