<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-0">
          Copyrights &copy; <span id="year"></span> | All Rights Reserved.<br />
          Built &#128175; with &#129294; by
          <a href="https://lynxsphynx.co/" class="text-white" target="_blank">LynxSphynx Co.</a>
        </p>
      </div>
      <div class="col-lg-6">
        <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank"
                ><i class="ti-facebook mr-3"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank"
                ><i class="ti-twitter mr-3"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
