<section class="section service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-2">What We Do.</h2>
        <p class="mb-5">
          At Taiio Inc., we specialize in:
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left">
          <i class="ti-ruler-pencil"></i>
          <h4 class="my-3">Architectural Design</h4>
          <p>
            We create custom architectural designs that reflect the personality of the space and its users,
            balancing creativity with practical functionality.
            Our designs are crafted with attention to detail, from residential homes to commercial spaces,
            ensuring each project is unique and impactful.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5"
          data-aos="fade-left"
          data-aos-delay="450"
        >
          <i class="ti-ruler-alt-2"></i>
          <h4 class="my-3">Industrial Product Design</h4>
          <p>
            Our product design process is driven by form, function, and sustainability.
            Whether it's consumer products or industrial machinery, we ensure every design
            meets industry standards while pushing boundaries in terms of usability and aesthetics.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5 mb-lg-0"
          data-aos="fade-left"
          data-aos-delay="750"
        >
          <i class="ti-package"></i>
          <h4 class="my-3">2D/3D Rendering, Visualization & Prototyping</h4>
          <p>
            We bring your ideas to life using the latest in 3D rendering and prototyping technologies,
            allowing you to visualize your project before it’s built or manufactured.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="service-item" data-aos="fade-left" data-aos-delay="750">
          <i class="ti-view-grid"></i>
          <h4 class="my-3">Sustainable Solutions</h4>
          <p>
            Sustainability is at the core of our design philosophy.
            We incorporate eco-friendly materials and energy-efficient solutions into our designs,
            aiming to reduce environmental impact without compromising on quality.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="service-item mb-5"
          data-aos="fade-left"
          data-aos-delay="950"
        >
          <i class="ti-palette"></i>
          <h4 class="my-3">2D/3D Animation</h4>
          <p>
            We provide creative and professional interior design and landscaping
            services that enhance the aesthetics, functionality, and
            sustainability of your indoor and outdoor spaces.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div
          class="service-item mb-5 mb-lg-0"
          data-aos="fade-left"
          data-aos-delay="1050"
        >
          <i class="ti-eye"></i>
          <h4 class="my-3">Project Management</h4>
          <p>
            Our organization is known for its innovative approach to delivering successful projects across various industries.
            With a strong focus on efficiency, quality, and client satisfaction, Taiio Inc. has established itself
            as a trusted partner for businesses seeking to achieve their project goals. <br />
            One of the key strengths of Taiio Inc. lies in its team of experienced project managers who are skilled in managing projects of all sizes and complexities.
            These professionals are adept at
            developing comprehensive project plans, allocating resources
            effectively, and mitigating risks to ensure that projects are
            completed on time and within budget. <br />
            Taiio Inc. is also known for using leading-edge project management
            tools and techniques to streamline processes and enhance
            collaboration among team members. By leveraging the latest
            technologies and software, we can deliver projects more efficiently,
            allowing clients to achieve their desired outcomes faster and more
            cost-effectively. <br />
            In addition to our expertise in project management, we are committed
            to delivering exceptional customer service. The company works
            closely with clients to understand their unique needs and
            requirements, tailoring its approach to ensure that every project is
            a success. <br />
            Overall, Taiio Inc. is a trusted partner for businesses seeking to achieve their project goals. With its focus on innovation, efficiency, and client satisfaction,
            Taiio Inc. is setting the standard for project management excellence.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
