<section class="section service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-2">Core Services.</h2>
        <p class="mb-5">
          We use the latest tools and techniques to deliver design solutions
          that are innovative, professional, and customized to your needs. We
          also have experience in working with various platforms and formats,
          such as CAD, BIM, VR, AR, and more.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left">
          <i class="ti-ruler-pencil"></i>
          <h4 class="my-3">Architectural Drawing</h4>
          <p>
            We create stunning and accurate drawings of buildings, structures,
            and spaces using various techniques and perspectives.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5"
          data-aos="fade-left"
          data-aos-delay="450"
        >
          <i class="ti-ruler-alt-2"></i>
          <h4 class="my-3">Blueprint</h4>
          <p>
            We produce detailed and clear blueprints that show the dimensions,
            layout, and specifications of your design project.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5 mb-lg-0"
          data-aos="fade-left"
          data-aos-delay="750"
        >
          <i class="ti-package"></i>
          <h4 class="my-3">3D Modeling</h4>
          <p>
            We build realistic and interactive 3D models that can be viewed,
            manipulated, and rendered from any angle and in any environment.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item" data-aos="fade-left" data-aos-delay="750">
          <i class="ti-view-grid"></i>
          <h4 class="my-3">CAD/BIM Services</h4>
          <p>
            We use advanced CAD (computer-aided design) and BIM (building
            information modeling) software to design, analyze, and optimize your
            project in a digital format.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5"
          data-aos="fade-left"
          data-aos-delay="950"
        >
          <i class="ti-palette"></i>
          <h4 class="my-3">Interior Design and Landscaping</h4>
          <p>
            We provide creative and professional interior design and landscaping
            services that enhance the aesthetics, functionality, and
            sustainability of your indoor and outdoor spaces.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="service-item mb-5 mb-lg-0"
          data-aos="fade-left"
          data-aos-delay="1050"
        >
          <i class="ti-eye"></i>
          <h4 class="my-3">VR/AR Services</h4>
          <p>
            We offer immersive and engaging VR (virtual reality) and AR
            (augmented reality) applications that let you experience your design
            project in a virtual or augmented world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
