<section class="section banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="cd-headline clip is-full-width mb-4">
          We specialize in <br />
          <span class="cd-words-wrapper text-color">
            <b class="is-visible">Innovative Design. </b>
            <b>Architectural Design.</b>
            <b>Industrial Design.</b>
          </span>
        </h2>
        <p>
          Welcome to Taiio Incorporation! <br />
          At Taiio Inc., we blend creativity, functionality, and cutting-edge technology to craft unique architectural and industrial design solutions. <br />
          With focus on both aesthetics and performance, we work with clients to bring their visionary ideas to life.
        </p>
      </div>
    </div>
  </div>
</section>
